[tasks.dependency-report]
description = "Show outdated dependency versions."
env = { CARGO_MAKE_RUST_DEFAULT_TOOLCHAIN = "stable" } # See: https://github.com/sagiegurari/cargo-make/discussions/767
install_crate = "cargo-outdated"
command = "cargo"
args = ["outdated", "--root-deps-only"]

[tasks.format]
description = "Format all source files."
env = { CARGO_MAKE_RUST_DEFAULT_TOOLCHAIN = "stable" } # See: https://github.com/sagiegurari/cargo-make/discussions/767
install_crate = { rustup_component_name = "rustfmt" }
command = "cargo"
args = ["fmt"]

[tasks.format-ci]
description = "Check all source files for formatting issues."
env = { CARGO_MAKE_RUST_DEFAULT_TOOLCHAIN = "stable" } # See: https://github.com/sagiegurari/cargo-make/discussions/767
install_crate = { rustup_component_name = "rustfmt" }
command = "cargo"
args = ["fmt", "--check"]

[tasks.lint]
description = "Lint all source files."
env = { CARGO_MAKE_RUST_DEFAULT_TOOLCHAIN = "stable" } # See: https://github.com/sagiegurari/cargo-make/discussions/767
install_crate = { rustup_component_name = "clippy" }
command = "cargo"
args = ["clippy"]

[tasks.lint-watch]
description = "Monitor and lint all source files continuously anytime one of them changes."
dependencies = ["lint"]
watch = true

[tasks.clean]
description = "Clean up temporary files generated by the Rust compiler."
command = "cargo"
args = ["clean"]

[tasks.build]
description = "Compile the source code."
command = "cargo"
args = ["build"]
dependencies = ["lint"]

[tasks.run]
description = "Run the application."
env = { RUST_BACKTRACE = 1 }
command = "cargo"
args = ["run"]
dependencies = ["build"]

[tasks.test]
description = "Run all unit tests."
command = "cargo"
args = ["test", "--tests"]
dependencies = ["build"]

[tasks.test-coverage]
description = "Run code coverage analysis and write a tabulated report to STDOUT."
env = { CARGO_MAKE_RUST_DEFAULT_TOOLCHAIN = "stable" } # See: https://github.com/sagiegurari/cargo-make/discussions/767
install_crate = "cargo-llvm-cov"
command = "cargo"
args = ["llvm-cov"]
dependencies = ["build"]

[tasks.test-coverage-ci]
description = "Run code coverage analysis and write a report to a text file in LCOV format."
env = { CARGO_MAKE_RUST_DEFAULT_TOOLCHAIN = "stable" } # See: https://github.com/sagiegurari/cargo-make/discussions/767
install_crate = "cargo-llvm-cov"
command = "cargo"
args = ["llvm-cov", "--lcov", "--output-path", "lcov.info"]
dependencies = ["build"]
